.avatar {
  margin-inline: auto;
}

.skeleton {
  margin-top: 20px;
}

.title {
  margin-bottom: 9px;
}

.info {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.block {
  margin-top: 23px;
}
